body{
    font-family: "Aller", serif;
    font-size: 16px;
    background: #578ab3;
    display: grid;
    grid-template-areas: "header header"
                         "sidebar content";
    grid-template-columns: 40% 1fr;
    grid-column-gap: 20px;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: center;
    padding: 0 1em 0 1em;
}

.profile_foto{
    margin-top: 6em;
    width: 240px;
    height: 300px;
    display: block;
    background-image: url(../img/profile_foto.jpg);
    background-size: 100% 100%;
    border: 4px solid #fff;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
}

.profile_info{
    margin-left: 5em;
}

.profile_info h1{
    margin-top: 1em;
    font-family: "Aller", serif;
    font-size: 6.25em;
    text-transform: uppercase;
    color: #fff;
}

.profile_info span{
    display: block;
    margin-bottom: 1em;
    font-family: "Aller", serif;
    font-size: 4.4em;
    color: #fff;
}

.about_me{
    margin-bottom: 5em;
    font-family: "Aller", serif;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #fff;
}

.sidebar{
    grid-area: sidebar;
    background-color: #36404f;
}

.head{
    display: flex;
    padding: 2.5em 0 1em 2.5em;

}

.head h2,
.head h2,
.head h2{
    padding-left: .5em;
    font-family: "Aller", serif;
    font-size: 4em;
    line-height: 2.5em;
    color: #fff;
}

.skills table,
.languages table{
    width: 90%;
    margin: 25px 0 25px 5%;
    font-family: "Aller", serif;
    font-size: 1em;
    color: #fff;
}

.skills tr{
    border-top: 2px solid #36404f;
    border-bottom: 2em solid #36404f;
}

.skills table tr th:first-child,
.languages table tr th:first-child{
    width: 22%;
    background-color: #36404f;
}

.skills table tr th:not(first-child),
.languages table tr th:not(first-child){
    width: 13%;
}

.skills table tr td:first-child,
.languages table tr td:first-child{
    width: 22%;
    background-color: #36404f;
}

.skills table tr td:not(first-child){
    width: 13%;
    background-color: #fff;
}

.skills table tr:nth-child(2) td:nth-child(n+2):nth-child(-n+5){
    background-color: #578ab3;
}

.skills table tr:nth-child(3) td:nth-child(n+2):nth-child(-n+3){
    background-color: #578ab3;
}

.skills table tr:nth-child(4) td:nth-child(2){
    background-color: #578ab3;
}

.skills table tr:nth-child(5) td:nth-child(n+2):nth-child(-n+5){
    background-color: #578ab3;
}

.skills table tr:nth-child(6) td:nth-child(n+2):nth-child(-n+5){
    background-color: #578ab3;
}

.skills table tr:nth-child(7) td:nth-child(2){
    background-color: #578ab3;
}

.skills table tr:nth-child(8) td:nth-child(2){
    background-color: #578ab3;
}

.extraSkills{
    padding: 2.5em 0 1em 5.5em;
}

.extraSkills h3{
    font-family: "Aller", serif;
    font-size: 2em;
    line-height: 1.5em;
    color: #fff;
}

.extraSkills p{
    font-family: "Aller", serif;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #fff;
}

.languages tr th{
    background-color: #777989;
}

.languages tr{
    height: 2em;
    line-height: 2em;
}

.languages th,
.languages td{
    border: 5px solid #36404f;
}

.languages table tr th{
    text-align: center;
}

.languages table tr td:nth-child(n+2):nth-child(-n+4){
    text-align: center;
}

.languages table tr td:not(first-child){
    width: 26%;
    background-color: #777989;
}

.description td{
    text-align: center!important;
    line-height: 1em!important;
    background-color: #36404f!important;
}

.contact_me ul li span{
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: 2em 0 1em 5em;
    text-align: center;
    background-color: #578ab2;
    border: 4px solid #fff;
    border-radius: 50px;
}

.contact_me ul li i{
    font-size: 2em;
    line-height: 1.5em;
    color: #fff;

}

.contact_me ul li a{
    display: inline-block;
    padding-left: 2em;
    font-family: "Aller", serif;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}

.contact_me ul li a:hover{
    text-decoration: underline;
}

.content{
    grid-area: content;
    padding-bottom: 5em;
    background-color: #36404f;
}

.expirience,
.education,
.myProjects{
    padding: 0 1em 0 1em;
}

.expirience div,
.education div,
.myProjects div{
    padding: 3em 0 1em 5em;
}

.expirience__descr div p,
.expirience__descr div dl dt,
.education__descr dl dt{
    font: 1.5em/1.5em "Aller", serif;
    color: #fff;
}

.expirience__descr div dl dd,
.myProjects__descr ul li a{
    padding-left: 2em;
    font: 1em/1.5em "Aller", serif;
    color: #fff;
}

.education__descr dl dd,
.myProjects__descr ul li a{
    font: 1.5em/1.5em "Aller", serif;
    color: #fff;
}

.myProjects__descr ul{
    display: flex;
    justify-content: space-around;
}

.myProjects__descr ul li a{
    text-decoration: none;
}

.myProjects__descr ul li a:hover{
    text-decoration: underline;
}

.printVersion{
    text-align: end;
}

.printVersion p{
    width: 100%;
    margin-top: 5em;
}

.printVersion p span{
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-right: 1em;
    text-align: center;
    background-color: #578ab2;
    border: 4px solid #fff;
    border-radius: 50px;
}

.printVersion p i{
    font-size: 2em;
    line-height: 1.5em;
    color: #fff;
}

.printVersion p a{
    display: inline-block;
    padding: 2em 10em 0 0;
    font: 1.5em/.5em "Aller", serif;
    color: #fff;
    text-decoration: none;
}

.printVersion p a:hover{
    text-decoration: underline;
}



